/Teste_Java/nbproject/private/
/Teste_Java/build/
/JavaTest/nbproject/private/
/JavaTest/build/
/JavaTest/dist/
/Cidade/nbproject/private/
/Cidade/build/
/suite1/nbproject/private/
/RetornandoDados/nbproject/private/
/Agenda/nbproject/private/
/Agenda/build/
/Agenda/dist/
/test/nbproject/private/
/test/build/
/test/dist/
/Aplicar_desconto/nbproject/private/
/JavaObjetos/JavaApplication11/nbproject/private/
/JavaObjetos/JavaObjetos/nbproject/private/
/JavaObjetos/JavaObjetos/build/
/JavaObjetos/JavaObjetos/dist/
/JavaObjetos/CadastroClientes/nbproject/private/